body{
    background-color: #607c9c;
    color: #ebe9dc;
    margin: 0 auto;
    font-size: x-large;
}

.search{
    margin: auto;
}

.main {
    width:100%;
}
.left {
    float:left; 
    width:20%;
}
.right {
    float:right;
    width:80%;
}
.bottom {
    float:left;
    width:100%
}
.map-search{
    width:100%;
    height:400px;
}

.link{
    text-decoration: none;
    color: #ebe9dc;
    
}

.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size:x-large;
    background-color: #181f41;
}
.history-button{
    color: #ebe9dc;
    text-decoration: none;
    border: 2px solid;
    padding: 4px; 
}

.enter-button{
    color: #ebe9dc;
    text-decoration: none;
    border: 2px solid;
    padding: 4px;
}
